/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
        background-color: rgb(20, 20, 20);
    overflow-x: hidden;
  }

  @import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300&display=swap');
  html, body { height: 100%; }

 
 
  .nf-full-scroll-modal {
    &.hr-modal-medium {
      max-width: 800px !important;
    }
  
    &.hr-modal-preview {
      max-width: 90vw !important;
  
      .mat-dialog-container {
        width: 90vw;
        background-color: rgb(20, 20, 20);

      }
    }
  
    .mat-dialog-container {
      width: 80vw;
      padding: 0;
      margin-top: 65px;
      margin-bottom: 65px;
      position: relative;
      overflow: hidden;
      background-color: rgb(20, 20, 20);

      @media screen and (min-width: 1440px) {
        width: 1200px !important;
      }
    }
  
    @media screen and (max-width: 1150px) {
      .hr-modal-header {
        padding: 30px 0px;
      }
    }
  
    .hr-modal-content {
      padding: 31px 100px !important;
  
      &.hr-large {
        padding: 31px 30px 130px 30px !important;
  
        @media screen and (min-width: 735px) {
          padding: 31px 100px 130px 100px !important;
        }
  
        @media screen and (min-width: 1024px) {
          padding: 31px 200px 130px 200px !important;
        }
      }
    }
  
    .hr-form-btn .hr-btn-primary {
      min-width: 240px;
      margin: 15px 0 0;
    }
  }
  